<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.colorm.dao.StoreDao">

    <resultMap id="storeResult" type="com.cf.colorm.entity.Store">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="company_id" property="companyId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="modify_date" property="modifyDate"/>
    </resultMap>

    <select id="getStoreById" parameterType="java.lang.Integer" resultMap="storeResult">
        select  id,name,description,is_enabled,company_id,create_user,create_date,modify_user,modify_date
        from warehouse.store with(nolock)
        where id = #{id}
    </select>

</mapper>