<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cf.colorm.dao.TdFileStoreDao">

    <resultMap id="tdFileStoreMap" type="com.cf.colorm.entity.TdFileStore">
        <id column="id" property="id" />
        <result column="file_id" property="fileId"/>
        <result column="color_no" property="colorNo"/>
        <result column="color_name" property="colorName"/>
        <result column="description" property="description"/>
        <result column="check_in_id" property="checkInId"/>
        <result column="check_in_type" property="checkInType"/>
        <result column="check_in_user" property="checkInUser"/>
        <result column="address" property="address"/>
        <result column="store_id" property="storeId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_date" property="createDate"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="modify_date" property="modifyDate"/>
    </resultMap>


    <select id="findByColoeNo" parameterType="java.lang.String" resultMap="tdFileStoreMap">
        select s.*,f.color_no,f.color_name
        from warehouse.td_file_store as s
        inner join warehouse.td_file as f on s.file_id = f.id
        where f.color_no = #{colorNo}
    </select>

    <insert id="add" parameterType="com.cf.colorm.entity.StoreInVO">
        insert into warehouse.td_file_store(file_id,description,check_in_id,check_in_type,
                check_in_user,address,store_id,create_user,create_date,modify_user,modify_date)
        values(#{fileId},#{description},#{fileInId},#{type},#{check_in_user},#{address},#{storeId},#{createUser},getdate(),#{createUser},getdate())
    </insert>

    <select id="findAll" resultMap="tdFileStoreMap">
        select top 100 s.*,f.color_name,f.color_no
        from warehouse.td_file_store as s with(nolock)
        inner join warehouse.td_file as f with(nolock) on f.id = s.file_id
        order by id
    </select>

    <select id="findByFileId" parameterType="java.lang.Integer" resultMap="tdFileStoreMap">
        select * from warehouse.td_file_store with(nolock) where file_id = #{fileId}
    </select>

    <delete id="removeByFileId" parameterType="java.lang.Integer">
        delete from warehouse.td_file_store where id = #{id}
    </delete>
</mapper>